@import "./styles/form.scss";
@import "./styles/navmenu.scss";

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.button-anchor-link {
  border: none;
  background: none;
  padding: 0;
  color: blue;
}
